.leaderboard {
    margin-bottom: 30px;
    font-size: 25px;
}
h1, h2, h3, div, .addHighScores, .leaderboard, .startButton, .questionHeader,.jsQuestions
, .timer{
    display: flex;
    justify-content: center;
}
.begin {
    border-color: rgb(255, 102, 0);
    border-radius: 20px;
    color: rgb(251, 33, 0);
    font-size: 25px;
    background-color:white;
}
.begin:active {
    border-color: rgb(255, 102, 0);
    color: rgb(251, 33, 0);
    background-color: white;
}
.questionHeader {
    font-size: 25px;
}
.jsQuestions {
    display: none;
    font-size: 25px;
    border: 5px;
    border-color: rgb(255, 102, 0);
    background-color: white;
    height: 30px;
}
.quizQuestions:active {
    border-color: rgb(255, 102, 0);
    color: rgb(251, 33, 0);
    background-color: white;
}
.timer {
    font-size: 50px;
}
.addHighScores {
    font-size: 25px;
}
.leaderboards {
    font-size: 25px;
}